form {
 outline: 1px solid black;
 width: 65%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 100px;
 padding: 1%;
}

/*
*	The below selectors are unique for this page; for the items on the form
*/
div#checkout-order-submit {
  text-align: center;
}
/* .item-div {
  width: auto;
  overflow: auto;
}
.label-content {
  padding-right: 5px;
}
.input-content {
  float: right;
}
.description-content {
  font-style: italic;
} */
